<div class="w-full h-full bg-[#5B1A5B] flex flex-col items-center justify-center text-white p-8">
  <h1 class="text-4xl font-medium text-center leading-tight">
    Bem vindo<br>
    <span class="block mt-2">ao</span>
    <span class="block mt-2">Camaar</span>
  </h1>
</div>