<% tag_type = @formulario_id ? :a : :div %>
<% link_opts = @formulario_id ? { 
     href: formulario_path(@formulario_id, turma_id: @turma_id), 
     data: { turbo_frame: "modal" } # A MÁGICA ACONTECE AQUI
   } : {} %>

<%= content_tag tag_type, link_opts.merge(class: "block bg-white rounded-lg shadow-sm p-6 hover:shadow-md transition-shadow cursor-pointer border border-gray-100 flex flex-col justify-between h-40") do %>
  <div>
    <h3 class="text-xl font-bold text-black"><%= @materia %></h3>
    <p class="text-xs text-gray-500 font-medium"><%= @semestre %></p>
  </div>
  
  <div class="flex justify-between items-end">
    <p class="text-sm font-semibold text-gray-800"><%= @professor %></p>
    <% if @formulario_id %>
      <span class="text-xs bg-purple-100 text-purple-700 px-2 py-1 rounded-full">Responder</span>
    <% else %>
      <span class="text-xs bg-gray-100 text-gray-500 px-2 py-1 rounded-full">Indisponível</span>
    <% end %>
  </div>
<% end %>